.Select-item {
  color: black;
  border-color: white white white white;
}

.Select-item-label {
  background-color: white;
  border-color: white white white white;
}

.Select-item-icon {
  background-color: white;
  border-color: white white white white;
}
